body {
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #3c3c3c;
}

.navbar-brand p{
    color: red;

}

#nav-list {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #0f0f0f;
}

#nav-list hr {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


#nav-list a {
    color: white;
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
    color: black;
}
#nav-list a span {
    font-size: 1.8em;
}

#main-content > div {
    padding: 5px;
}

#main-content > div > div {
    padding: 5px;
}

.meat {
    padding: 5px;
    background-color: #9d9d9d;
}

.meat h3 {
    margin: 5px;
}

div.meat p {
    padding: 10px;
}
